{% extends "base_side_navbar.html" %}
{% load static %}

{% block main_container_nzeo_staff %}

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<div class="main-container fullscreen">
    <div class="container">
      <div class="row justify-content-center">
        <div class="text-center">
            <h1 class="h2">
                Check Calculations
            </h1>
            <hr><br>
            <div>
                <h4>Sample Calculation 1: Scope 1 Emission Calculation (gas)</h4>
                <p>How many lbs CO2e are in 300 therms?</p>
                <ul>300 * {{UNIT_CONVERSIONS['kBTU/therm']}}
                    
                </ul>
            </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}