{% extends 'base_top_navbar.html' %}
{% load static %}

{% block center_content %}

<div class="col-lg-9">
  <span class="h3 d-block mt-3" ><strong>{{ school.school_name }}</strong></span>
  <p>
    {{ school.school_district }}
  </p>
</div>

<!-- main content-->
<div class="main-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="text-center d-flex align-items-center justify-content-center pt-5">
          <div>
            <span class="h3 d-block mt-3">Content Here</span>
            <p>
              school level analytics page under construction
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}