{% extends "base_minimal.html" %}
{% load static %}

{% block main_body %}

<style>
  /* Custom CSS for smaller error messages */
  .form-error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      padding: .75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: .25rem;
      font-size: 0.875rem; 
  }
  .error-message-box {
    padding: 0.25rem; 
    margin-bottom: 0.1rem; 
  }
</style>

<div class="main-container fullscreen">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7">
        <div class="text-center">
          <div style="text-align: center;">
            <a href = "{% url 'login' %}">
              <img src="{% static 'NZEO-Logo.png' %}" alt="NZEO Logo" style="max-width: 100%; height: auto;"/>
            </a>
          </div>
          <br>
          <h1 class="h2">Forgot password &#x1f62B;</h1>
          <p class="lead">Enter your email address to reset</p>
          <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" type="email" placeholder="Email Address" name="email" id="id_email" />
            </div>
            {% if form.errors %}
              <div class="form-error error-message-box">
                {{ form.non_field_errors }}
                {{ form.email.errors }}
              </div>
            {% endif %}
            <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
              Send reset link
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}