{% extends 'base.html' %}


{% block content %}
<style type="text/css">
	.button-container {
        display: flex; /* Enables flexbox */
        justify-content: center; /* Centers button horizontally */
        align-items: center; /* Centers button vertically */
        flex-direction: column; /* Stacks items vertically */
    }
    .big-button {
        display: block; /* Make it a block element */
        width: 200px; /* Width of the button */
        height: 50px; /* Height of the button */
        font-size: 20px; /* Font size */
        text-align: center; /* Center text */
        line-height: 50px; /* Align text vertically */
        background-color: #007bff; /* Background color */
        color: white; /* Text color */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        text-decoration: none; /* No underline */
        margin-top: 20px; /* Margin on the top */
        cursor: pointer; /* Changes the cursor on hover */
    }
</style>
<div class="container">
	<h1>Home Screen</h1>
	<p style = "font-size: 30px;">
		Home screen still in development. <br><br>Nico, as you navigate this site,
		think about what each webpage should look like and what options you'd
		like your users to have. There will be many small details that will need to be worked out. 
        At the same time, some things we can leave for later. For example, let's
		leave the styling (colors, animations, etc.) for later. It will take a long time to 
        get this site to look very nice and professional,
        with all the custom styling and branding you might want. There are 
        programmers who specialize in how the user interface looks and feels. 
		Also think about what is the first thing a user should see when they visit the site.
	</p>
	<!-- Big button link to site map -->
	<div class="button-container">
		<a href="/maps/" class="big-button">Go to Sanger High School Map</a>
	</div>
</div>


{% endblock content %}