{% extends "base_nav_top_sidebar.html" %}
{% load static %}
{% block title %}District Climapp{% endblock %}
{% block center-panel-content %} 

<!-- <link href="{% static 'district_management/district_maps_styles.css' %}" rel="stylesheet"> -->

<style>
    #map {
        height: 800px; 
        width: 98%;   
        margin: 10px;  
        border: 2px solid #add8e6; /* Light blue border */
    }   
    /* Style for the search box */
    #search-input {
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        width: 170px;
        height: 40px;
        padding: 0 15px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        outline: none;
        position: absolute;
        top: 10px;
        margin-left: 10px;
    }
    #reset-map, #clear-search {
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        height: 40px;
        padding: 0 15px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        outline: none;
        position: absolute;
        top: 10px;
        background-color: white; /* Optional: depends on your design */
        cursor: pointer; /* Changes the cursor to a pointer on hover */
    }
    #reset-map {
        margin-left: 10px; /* Adjust as per your layout */
    }
    #clear-search {
        margin-left: 10px; /* Adjust as per your layout */
    }
    #legend {
        width: 98%; 
        margin: 10px;
        background: white;
        padding: 10px;
        font-size: 12px;
        font-family: Arial, sans-serif;
        border: 1px solid #add8e6;
    }
    #legend h3 {
        margin: 10px;
        
        margin-top: 0;
    }
    #legend span {
        margin: 10px;
        vertical-align: middle;
    }
    .modal-backdrop.show {
    opacity: 0;
    }
</style>

<br>
<h1 style = "margin-left: 10px;">{{ district_name }} Map</h1>
<p style="margin-left: 10px; padding-bottom: 10px">
    Click on the map to place an annotation. Press enter to confirm the annotation or escape to cancel.
    Navigation is limited to district boundaries.
</p>

<!-- Map goes here -->
<div id="map"></div>

<input id="search-input" class="controls form-control me-2" type="text" placeholder="Search Map">
<button id="reset-map">Recenter map</button>
<button id="clear-search">Clear search</button>

<!-- district school locations on the map --> 
{{ district_schools_information|json_script:"marker-data"}}

<!-- Modal for schools-->
<div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="schoolModalLabel"></h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <a href="#" id="visitSchoolPage" target="_blank" class="btn btn-primary">Visit School Page</a>
            </div>
        </div>
    </div>
</div>

<script>
    var markers = {}; // Global object to store markers
    function initMap() {
        const district_southwest_lat = parseFloat("{{southwest_lat}}");
        const district_southwest_lng = parseFloat("{{southwest_lng}}");
        const district_northeast_lat = parseFloat("{{northeast_lat}}");
        const district_northeast_lng = parseFloat("{{northeast_lng}}");
        const district_geo_lat = parseFloat("{{ district_geo_lat }}");
        const district_geo_long = parseFloat("{{ district_geo_long }}");
        const map_zoom_level = parseInt("{{ map_zoom_level }}");
        const district_name = "{{ district_name }}";
        
        // The bounds of the area
        const allowedBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(district_southwest_lat, district_southwest_lng),
            new google.maps.LatLng(district_northeast_lat, district_northeast_lng)
        );
        // Map options
        var mapOptions = {
            zoom: map_zoom_level,
            center: { lat: district_geo_lat, lng: district_geo_long },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            restriction: {
                latLngBounds: allowedBounds,
                strictBounds: false,
            }
        };
        // Creating the map
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        // Create markers for each school location
        var school_markers = JSON.parse(document.getElementById('marker-data').textContent);
        var infoWindow = new google.maps.InfoWindow(); 

        function addMarkerWithDelay(school, delay) {
            window.setTimeout(function() {
                var marker = new google.maps.Marker({
                    position: {lat: school.lat, lng: school.lng},
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: school.name
                });

                // Store the marker in the global object with a unique key
                markers[school.name] = marker;
                // Define the content of the InfoWindow
                var infoWindowContent = '<div><strong>' + school.name + '</strong><br>' +
                                        '<a href="#" onclick="showSchoolDetails(\'' + school.name + '\', ' + school.id + ');return false;">Show more information</a></div>';

                google.maps.event.addListener(marker, 'click', function() {
                    infoWindow.setContent(infoWindowContent);
                    infoWindow.open(map, marker);
                });
            }, delay);
        }

        // Function to show school details in the modal
        window.showSchoolDetails = function(name, schoolId) {
            var marker = markers[name];
            if (marker) {
                map.setZoom(16);
                map.setCenter(marker.getPosition());
                document.getElementById('schoolModalLabel').textContent = name;
                document.querySelector('#schoolModal .modal-body').innerHTML = '<p>' + name + ' details here...</p>';
                
                var schoolUrl = `/school-analytics/${schoolId}/`;
                document.getElementById('visitSchoolPage').setAttribute('href', schoolUrl);
                $('#schoolModal').modal('show');
            }
        };

        // Loop through school_markers and add each marker with a delay
        school_markers.forEach(function(school, index) {
            addMarkerWithDelay(school, index * 15);
        });

        
        // ========== CODE FOR SEARCH BOX ==========
        // Create the search box and link it to the UI element.
        var input = document.getElementById('search-input');
        var clear_search = document.getElementById('clear-search');
        var reset_map = document.getElementById('reset-map');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.LEFT].push(input);
        map.controls[google.maps.ControlPosition.LEFT].push(clear_search);
        map.controls[google.maps.ControlPosition.LEFT].push(reset_map);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        // ===== add marker to the map when user searches a location ===== 
        var marker;
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
                console.error("No places found.");
                return;
            }
            // if a marker already exists, remove it
            if (marker) {
                marker.setMap(null);
            }
            var place = places[0];
            if (!place.geometry) {
                console.log("Returned place contains no geometry");
                return;
            }
            // Create a marker for the selected place
            marker = new google.maps.marker.AdvancedMarkerElement({
                map: map,
                title: place.name,
                position: place.geometry.location
            });
            // Center the map on the selected place and zoom
            map.setCenter(place.geometry.location);
            map.setZoom(16);     
        });

        // ===== Clear the search input =====
        document.getElementById('clear-search').addEventListener('click', function() {
            document.getElementById('search-input').value = '';
        });

        // ===== Reset the map to its initial state =====
        document.getElementById('reset-map').addEventListener('click', function() {
            map.setCenter({lat: district_geo_lat, lng: district_geo_long});
            map.setZoom(map_zoom_level);
            document.getElementById('search-input').value = '';
        });


        // ===== GOOGLE DEFAULT DRAWING TOOLS
        // Initialize the Google Maps Drawing Manager with options for clickable and draggable shapes
        var drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: null,
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: [
                    google.maps.drawing.OverlayType.MARKER,
                    google.maps.drawing.OverlayType.CIRCLE,
                    google.maps.drawing.OverlayType.POLYGON,
                    google.maps.drawing.OverlayType.POLYLINE,
                    google.maps.drawing.OverlayType.RECTANGLE
                ]
            },
            markerOptions: {
                draggable: true,
                clickable: true,
                icon: {
                    url: "{% static 'location-dot-solid.svg' %}",
                    scaledSize: new google.maps.Size(30, 30)
                }
            },
            circleOptions: {
                fillColor: '#ffff00',
                fillOpacity: 0.4,
                strokeWeight: 2,
                clickable: true,
                draggable: true,
                editable: true,
                zIndex: 1
            },
            polylineOptions: {
                icon: {
                    url: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                    scale: 3,
                    strokeColor: '#63e6be'
                },
                strokeColor: '#63e6be',
                strokeOpacity: 1,
                strokeWeight: 3,
                clickable: true,
                draggable: true,
                editable: true
            },
            polygonOptions: {
                strokeColor: '#ffd43b',
                strokeOpacity: 1,
                strokeWeight: 3,
                fillColor: '#ffff00',
                fillOpacity: 0.4,
                clickable: true,
                draggable: true,
                editable: true
            },
            rectangleOptions: {
                strokeColor: '#0000ff',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#0000ff',
                fillOpacity: 0.4,
                clickable: true,
                draggable: true,
                editable: true
            }
        });

        drawingManager.setMap(map);
    } // end of initMap()

    
    // ========== CODE FOR CLICK AND DRAW ANNOTATIONS
    document.querySelectorAll('.marker-icon-button').forEach(button => {
        button.addEventListener('click', function() {
            var iconUrl = this.getAttribute('data-icon-url');
            map.setOptions({ draggableCursor: `url(${iconUrl}), auto` });

            google.maps.event.addListener(map, 'click', function(event) {
                placeCustomMarker(event.latLng, map, iconUrl);
                map.setOptions({ draggableCursor: null });
            });
        });
    });
    function placeCustomMarker(location, map, iconUrl) {
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            icon: iconUrl,
            draggable: true
        });
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places,drawing&callback=initMap">
</script>

<style>
    .pac-container {
        width: auto !important; /* This allows the container to size based on content */
        min-width: 300px; /* This sets a minimum width for the container */
    }

    .pac-item {
        width: auto !important; /* This allows each item to size based on content */
        white-space: nowrap; /* This prevents text from wrapping */
    }
</style>

{% endblock %}
