{% extends "base_nav_top_sidebar.html" %}
{% load static %}

{% block center-panel-content %} 

<link href="{% static 'district_management/district_maps_styles.css' %}" rel="stylesheet">

<br>
<h1 style = "margin-left: 10px;">{{ district_name }} Map</h1>
<p style="margin-left: 10px; padding-bottom: 10px">
    Click on the map to place an annotation. Press enter to confirm the annotation or escape to cancel.
    Navigation is limited to district boundaries.
</p>

<!-- Map goes here -->
<div id="map"></div>

<input id="search-input" class="controls form-control me-2" type="text" placeholder="Search Map">
<button id="reset-map">Recenter map</button>
<button id="clear-search">Clear search</button>

<!-- district school locations on the map -->
{{ district_schools_coordinates|json_script:"marker-data"}}

<!-- Modal for schools-->
<div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="schoolModalLabel">School Details At-a-Glance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                school details go here.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="#" id="visitSchoolPage" target="_blank" class="btn btn-primary">Visit School Page</a>
            </div>
        </div>
    </div>
</div>
  

<script>
    district_southwest_lat = parseFloat("{{southwest_lat}}");
    district_southwest_lng = parseFloat("{{southwest_lng}}");
    district_northeast_lat = parseFloat("{{northeast_lat}}");
    district_northeast_lng = parseFloat("{{northeast_lng}}");
    district_geo_lat = parseFloat("{{ district_geo_lat }}");
    district_geo_long = parseFloat("{{ district_geo_long }}");
    map_zoom_level = parseInt("{{ map_zoom_level }}");
    district_name = "{{ district_name }}";

    var map;
    function initMap() {
        // The bounds of the area
        var allowedBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(district_southwest_lat, district_southwest_lng),
            new google.maps.LatLng(district_northeast_lat, district_northeast_lng)
        );
        // Map options
        var mapOptions = {
            zoom: map_zoom_level,
            center: { lat: district_geo_lat, lng: district_geo_long },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            restriction: {
                latLngBounds: allowedBounds,
                strictBounds: false,
            }
        };
        // Creating the map
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        // Create markers for each school location
        var school_markers = JSON.parse(document.getElementById('marker-data').textContent);
        school_markers.forEach(function(school) {
            var marker = new google.maps.Marker({
                position: {lat: school.lat, lng: school.lng},
                map: map,
                title: school.name
            });

            // add modals to each school marker
            marker.addListener('click', function() {
                map.setZoom(16);
                map.setCenter(marker.getPosition());
                document.getElementById('schoolModalLabel').textContent = school.name;
                document.querySelector('#schoolModal .modal-body').innerHTML = '<p>' + school.description + '</p>'; 
                document.getElementById('visitSchoolPage').setAttribute('href', school.url); 
                
                // Show the modal
                $('#schoolModal').modal('show');

                // add listener
                marker.addListener('click', function() {
                    // Update modal content
                    $('#schoolModalLabel').text(school.name);
                    $('#schoolModal .modal-body').html('<p>' + school.description + '</p>');
                    $('#visitSchoolPage').attr('href', school.url);

                    // Show the modal
                    $('#schoolModal').modal('show');
                });
            });
        });
        
        // ========== CODE FOR SEARCH BOX ==========
        // Create the search box and link it to the UI element.
        var input = document.getElementById('search-input');
        var clear_search = document.getElementById('clear-search');
        var reset_map = document.getElementById('reset-map');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.LEFT].push(input);
        map.controls[google.maps.ControlPosition.LEFT].push(clear_search);
        map.controls[google.maps.ControlPosition.LEFT].push(reset_map);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        // ===== add marker to the map when user searches a location ===== 
        var marker;
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
                return;
            }
            // if a marker already exists, remove it
            if (marker) {
                marker.setMap(null);
            }
            var place = places[0];
            if (!place.geometry) {
                console.log("Returned place contains no geometry");
                return;
            }
            // Create a marker for the selected place
            marker = new google.maps.Marker({
                map: map,
                title: place.name,
                position: place.geometry.location
            });
            // Center the map on the selected place and zoom
            map.setCenter(place.geometry.location);
            map.setZoom(16);     
        });

        // ===== Clear the search input =====
        document.getElementById('clear-search').addEventListener('click', function() {
            document.getElementById('search-input').value = '';
        });

        // ===== Reset the map to its initial state =====
        document.getElementById('reset-map').addEventListener('click', function() {
            map.setCenter({lat: district_geo_lat, lng: district_geo_long});
            map.setZoom(map_zoom_level);
            document.getElementById('search-input').value = '';
        });


        // ===== GOOGLE DEFAULT DRAWING TOOLS
        // Initialize the Google Maps Drawing Manager with options for clickable and draggable shapes
        var drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: null,
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: [
                    google.maps.drawing.OverlayType.MARKER,
                    google.maps.drawing.OverlayType.CIRCLE,
                    google.maps.drawing.OverlayType.POLYGON,
                    google.maps.drawing.OverlayType.POLYLINE,
                    google.maps.drawing.OverlayType.RECTANGLE
                ]
            },
            markerOptions: {
                draggable: true,
                clickable: true,
                icon: {
                    url: "{% static 'location-dot-solid.svg' %}",
                    scaledSize: new google.maps.Size(30, 30)
                }
            },
            circleOptions: {
                fillColor: '#ffff00',
                fillOpacity: 0.4,
                strokeWeight: 2,
                clickable: true,
                draggable: true,
                editable: true,
                zIndex: 1
            },
            polylineOptions: {
                icon: {
                    url: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                    scale: 3,
                    strokeColor: '#63e6be'
                },
                strokeColor: '#63e6be',
                strokeOpacity: 1,
                strokeWeight: 3,
                clickable: true,
                draggable: true,
                editable: true
            },
            polygonOptions: {
                strokeColor: '#ffd43b',
                strokeOpacity: 1,
                strokeWeight: 3,
                fillColor: '#ffff00',
                fillOpacity: 0.4,
                clickable: true,
                draggable: true,
                editable: true
            },
            rectangleOptions: {
                strokeColor: '#0000ff',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#0000ff',
                fillOpacity: 0.4,
                clickable: true,
                draggable: true,
                editable: true
            }
        });

        drawingManager.setMap(map);
        

        // event listeners for google drawing tools.
        google.maps.event.addListener(drawingManager, 'circlecomplete', function(circle) {
            var toastElement = new bootstrap.Toast(document.getElementById('circleToast'), {
                autohide: true,
                delay: 3000
            });
            document.querySelector('#circleToast .toast-body').textContent = `Circle drawn with radius: ${circle.getRadius().toFixed(2)}`;
            toastElement.show();
        });

        google.maps.event.addListener(drawingManager, 'rectanglecomplete', function(rectangle) {
            var toastElement = new bootstrap.Toast(document.getElementById('rectangleToast'), {
                autohide: true,
                delay: 3000
            });
            var bounds = rectangle.getBounds();
            document.querySelector('#rectangleToast .toast-body').textContent = 'Rectangle drawn with bounds: ' + bounds.toString();
            toastElement.show();
        });

        google.maps.event.addListener(circle, 'radius_changed', function() {
            var radiusInMeters = circle.getRadius();
            var radiusInFt = radiusInMeters * 3.28084;
            alert('Radius in feet: ' + radiusInFt.toFixed(2));

        });

        google.maps.event.addListener(circle, 'center_changed', function() {
            alert('Circle moved to: ' + circle.getCenter().toUrlValue());
        });

        google.maps.event.addListener(rectangle, 'bounds_changed', function() {
            var bounds = rectangle.getBounds();
            alert('Rectangle bounds changed to: ' + bounds.toUrlValue());
        });


    } // end of initMap()

    
    // ========== CODE FOR CLICK AND DRAW ANNOTATIONS
    document.querySelectorAll('.marker-icon-button').forEach(button => {
        button.addEventListener('click', function() {
            var iconUrl = this.getAttribute('data-icon-url');
            map.setOptions({ draggableCursor: `url(${iconUrl}), auto` });

            google.maps.event.addListener(map, 'click', function(event) {
                placeCustomMarker(event.latLng, map, iconUrl);
                map.setOptions({ draggableCursor: null });
            });
        });
    });
    function placeCustomMarker(location, map, iconUrl) {
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            icon: iconUrl,
            draggable: true
        });
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places,drawing&callback=initMap">
</script>

<style>
    .pac-container {
        width: auto !important; /* This allows the container to size based on content */
        min-width: 300px; /* This sets a minimum width for the container */
    }

    .pac-item {
        width: auto !important; /* This allows each item to size based on content */
        white-space: nowrap; /* This prevents text from wrapping */
    }
</style>


<!-- TOASTS -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="circleToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Circle Drawn</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Circle drawn with radius: [radius]
      </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="rectangleToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Rectangle Drawn</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Rectangle drawn with bounds: [bounds]
      </div>
    </div>
</div>

{% endblock %}
