{% extends "base_nav_top_sidebar.html" %}
{% load static %}

{% block center-panel-content %} 

<!-- <script src="{% static 'maps/annotations.js' %}"></script> -->
<link href="{% static 'district_management/district_maps_styles.css' %}" rel="stylesheet">

<br>
<h1 style = "margin-left: 10px;">{{ district_name }} Map</h1>
<p style="margin-left: 10px; padding-bottom: 10px">
    Click on the map to place an annotation. Press enter to confirm the annotation or escape to cancel.
    Navigation is limited to district boundaries.
</p>

<!-- Map goes here -->
<div id="map"></div>

<input id="search-input" class="controls" type="text" placeholder="Search Map">
<button id="reset-map">Recenter map</button>
<button id="clear-search">Clear search</button>

<!-- district school locations on the map -->
{{ district_schools_coordinates|json_script:"marker-data"}}

<!-- Modal for schools-->
<div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="schoolModalLabel">School Details At-a-Glance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                school details go here.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="#" id="visitSchoolPage" target="_blank" class="btn btn-primary">Visit School Page</a>
            </div>
        </div>
    </div>
</div>
  

<script>
    district_southwest_lat = parseFloat("{{southwest_lat}}");
    district_southwest_lng = parseFloat("{{southwest_lng}}");
    district_northeast_lat = parseFloat("{{northeast_lat}}");
    district_northeast_lng = parseFloat("{{northeast_lng}}");
    district_geo_lat = parseFloat("{{ district_geo_lat }}");
    district_geo_long = parseFloat("{{ district_geo_long }}");
    map_zoom_level = parseInt("{{ map_zoom_level }}");
    district_name = "{{ district_name }}";

    function initMap() {
    
        // The bounds of the area
        var allowedBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(district_southwest_lat, district_southwest_lng),
            new google.maps.LatLng(district_northeast_lat, district_northeast_lng)
        );

        // Map options
        var mapOptions = {
            zoom: map_zoom_level,
            center: { lat: district_geo_lat, lng: district_geo_long },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            restriction: {
                latLngBounds: allowedBounds,
                strictBounds: false,
            }
        };

        // Creating the map
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var school_markers = JSON.parse(document.getElementById('marker-data').textContent);

        // Create markers for each school location
        school_markers.forEach(function(school) {
            var marker = new google.maps.Marker({
                position: {lat: school.lat, lng: school.lng},
                map: map,
                title: school.name
            });

            marker.addListener('click', function() {
                map.setZoom(16); // You can adjust the zoom level as needed
                map.setCenter(marker.getPosition());
                document.getElementById('schoolModalLabel').textContent = school.name; // School name for the modal title
                document.querySelector('#schoolModal .modal-body').innerHTML = '<p>' + school.description + '</p>'; // School description
                document.getElementById('visitSchoolPage').setAttribute('href', school.url); // Update the lin
                
                // Show the modal
                $('#schoolModal').modal('show');
            });
        });
        
        // ========== CODE FOR SEARCH BOX ==========
        // Create the search box and link it to the UI element.
        var input = document.getElementById('search-input');
        var clear_search = document.getElementById('clear-search');
        var reset_map = document.getElementById('reset-map');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.LEFT].push(input);
        map.controls[google.maps.ControlPosition.LEFT].push(clear_search);
        map.controls[google.maps.ControlPosition.LEFT].push(reset_map);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a location and retrieve more details for that place.
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function(marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    title: place.name,
                    position: place.geometry.location
                }));                
            });
            map.fitBounds(bounds);
        }); 

        // Clear the search input
        document.getElementById('clear-search').addEventListener('click', function() {
            document.getElementById('search-input').value = '';
            // Clear markers and reset map view
            markers.forEach(function(marker) {
                marker.setMap(null);
            });
            markers = [];
            document.getElementById('search-input').value = '';

        });

        // Reset the map to its initial state
        document.getElementById('reset-map').addEventListener('click', function() {
            map.setCenter({lat: district_geo_lat, lng: district_geo_long});
            map.setZoom(map_zoom_level);
            markers.forEach(function(marker) {
                marker.setMap(null);
            });
            markers = [];
            document.getElementById('search-input').value = '';
        });


        drawingManager.setMap(map);

        // triggers for modal on school click.
        school_markers.forEach(function(school) {
            var marker = new google.maps.Marker({
                position: {lat: school.lat, lng: school.lng},
                map: map,
                title: school.name
            });

            marker.addListener('click', function() {
                // Update modal content
                $('#schoolModalLabel').text(school.name); // School name for the modal title
                $('#schoolModal .modal-body').html('<p>' + school.description + '</p>'); // School description
                $('#visitSchoolPage').attr('href', school.url); // Update the link

                // Show the modal
                $('#schoolModal').modal('show');
            });
        });
    } // end of initMap()


    


</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places,drawing&callback=initMap">
</script>



{% endblock %}
