{% extends 'base_side_navbar.html' %}
{% load static %}
{% block title %}NZEO-Management Home{% endblock %}

{% block main_container_nzeo_staff %}

<!--section titlte that says, show all district performance metrics  -->
<h4 class = "tabs-title">All Districts: Performance Metrics</h4>

<!-- another section title that says, compare two districts -->
<h4 class = "tabs-title">Compare Two Districts</h4>

<!-- another section title that says, compare district against itself, by month and by year -->
<h4 class = "tabs-title">Compare District Against Itself</h4>


{% endblock %}