{% extends 'base.html' %}

{% block content %}

<head>
    <title>Interactive Map</title>
    <!-- Include LeafletJS CSS from a CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<!-- create a div element that I can use to embed a map using openmaptiles -->
<div id='sanger_high_school_map' style='width: 100%; height: 800px;'>
    <h1>Sample of Map View</h1>
    <p>Page still in development.</p>
    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-119.0380859375%2C36.98500309285596%2C-118.980712890625%2C37.01907571607497&amp;layer=mapnik&amp;marker=37.00203947386811%2C-119.0093994140625" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=14/37.0020/-119.0094">View Larger Map</a></small>
</div>

<button id="completeLine">Complete Line</button>
<button id="completePolygon">Complete Polygon</button>

<div id="annotationControls">
    <input type="radio" id="drawMarker" name="annotationType" value="marker" checked>
    <label for="drawMarker">Marker</label>

    <input type="radio" id="drawLine" name="annotationType" value="line">
    <label for="drawLine">Line</label>

    <input type="radio" id="drawPolygon" name="annotationType" value="polygon">
    <label for="drawPolygon">Polygon</label>
</div>


<!-- Include LeafletJS from a CDN -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    var mymap = L.map('sanger_high_school_map').setView([36.69991667, -119.57691667], 16); 
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(mymap);

    var marker = L.marker([36.69991667, -119.57691667]).addTo(mymap);
    marker.bindPopup("<b>Sanger High School</b><br>Home of the Apaches.").openPopup();


    // -- Interactive features --
    // let users select the type of annotation they want to add
    let currentAnnotation = 'marker'; //default
    let linePoints = [];
    let polyPoints = [];

    document.getElementById('annotationControls').addEventListener('change', function(e) {
        currentAnnotation = e.target.value;
        linePoints = []; // Reset line points
        polyPoints = []; // Reset polygon points
    });

    mymap.on('click', function(e) {
        if (currentAnnotation === 'marker') {
            L.marker([e.latlng.lat, e.latlng.lng]).addTo(mymap)
            .bindPopup("Marker at " + e.latlng.toString())
            .openPopup();
        } else if (currentAnnotation === 'line') {
            linePoints.push([e.latlng.lat, e.latlng.lng]);
            if (linePoints.length === 2) {
                L.polyline(linePoints, { color: 'red' }).addTo(mymap);
                linePoints = [];
            }
        } else if (currentAnnotation === 'polygon') {
            polyPoints.push([e.latlng.lat, e.latlng.lng]);
        }
    });

    document.getElementById("completePolygon").addEventListener("click", function() {
        if (polyPoints.length > 2) {
            L.polygon(polyPoints, {color: 'blue'}).addTo(mymap);
            polyPoints = []; // reset after drawing the polygon.
            //save the polygon to the database
            saveAnnotation('polygon', polyPoints);
            polyPoints = []; // reset after drawing the polygon.
        }
        else {
            alert("You need at least 3 points to make a polygon.");
        }
    });

</script>

{% endblock content %}