{% extends 'base.html' %}

{% block content %}

<head>
    <title>Interactive Map</title>
    <!-- Include LeafletJS CSS from a CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<!-- create a div element that I can use to embed a map using openmaptiles -->
<div id='sanger_high_school_map' style='width: 100%; height: 800px;'>
    <h1>Sample of Map View</h1>
    <p>Page still in development.</p>
    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-119.0380859375%2C36.98500309285596%2C-118.980712890625%2C37.01907571607497&amp;layer=mapnik&amp;marker=37.00203947386811%2C-119.0093994140625" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=14/37.0020/-119.0094">View Larger Map</a></small>
</div>

<button id="completeLine">Complete Line</button>
<button id="completePolygon">Complete Polygon</button>
<button id="clearAnnotations">Clear Annotations</button>


<div id="annotationControls">
    <input type="radio" id="drawMarker" name="annotationType" value="marker" checked>
    <label for="drawMarker">Marker</label>

    <input type="radio" id="drawLine" name="annotationType" value="line">
    <label for="drawLine">Line</label>

    <input type="radio" id="drawPolygon" name="annotationType" value="polygon">
    <label for="drawPolygon">Polygon</label>
</div>


<!-- Include LeafletJS from a CDN -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!--logic for map and map interactivity -->
<script>
    var mymap = L.map('sanger_high_school_map').setView([36.69991667, -119.57691667], 16); 
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(mymap);

    var marker = L.marker([36.69991667, -119.57691667]).addTo(mymap);
    marker.bindPopup("<b>Sanger High School</b><br>Home of the Apaches.").openPopup();


    // -- Interactive features --
    // let users select the type of annotation they want to add
    let currentAnnotation = 'marker'; //default
    let linePoints = [];
    let polyPoints = [];
    let markerCount = 0;
    const MAX_POINTS = 10;
    const SNAP_DISTANCE = 10; // pixels
    let annotations = []; // store all annotations


    document.getElementById('annotationControls').addEventListener('change', function(e) {
        currentAnnotation = e.target.value;
        linePoints = []; // Reset line points
        polyPoints = []; // Reset polygon points
    });

    mymap.on('click', function(e) {
        if (currentAnnotation === 'marker') {
            if (markerCount < MAX_POINTS) {
                var newMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(mymap)
                .bindPopup("Marker at " + e.latlng.toString())
                .openPopup();
                markerCount++;
                annotations.push(newMarker);
            } else {
                alert("Maximum of 10 markers reached.");
            }
        } else if (currentAnnotation === 'line') {
            if (linePoints.length < MAX_POINTS) {
                linePoints.push([e.latlng.lat, e.latlng.lng]);
        
                // Remove the previous temporary line if it exists
                if (this.tempLine) {
                    mymap.removeLayer(this.tempLine);
                    annotations = annotations.filter(function(annotation) { return annotation !== this.tempLine; });
                }

                // Create a new temporary line
                this.tempLine = L.polyline(linePoints, { color: 'red' }).addTo(mymap);
                annotations.push(this.tempLine); // Add the line to the annotations array
            } else {
                alert("Maximum of 10 points reached for a line.");
            }
        } else if (currentAnnotation === 'polygon') {
            if (polyPoints.length < MAX_POINTS) {
                let point = [e.latlng.lat, e.latlng.lng];
                polyPoints.push(point);

                // Update or create a polyline for the polygon points
                if (polyPoints.length > 1) {
                    if (this.tempPolyline) {
                        mymap.removeLayer(this.tempPolyline);
                        annotations = annotations.filter(function(annotation) { return annotation !== this.tempPolyline; });
                    }
                    this.tempPolyline = L.polyline(polyPoints, { color: 'green' }).addTo(mymap);
                    annotations.push(this.tempPolyline); // Add the temporary polyline to the annotations array
                }

                // check for snapping
                if (polyPoints.length > 2 && isPointCloseToFirst(polyPoints, point)) {
                    var newPolygon = L.polygon([...polyPoints, polyPoints[0]], { color: 'blue' }).addTo(mymap);
                    annotations.push(newPolygon); // Add the completed polygon to the annotations array
                    alert("Polygon completed by snapping!");
                    saveAnnotation('polygon', [...polyPoints, polyPoints[0]]);
                    polyPoints = []; // reset after drawing the polygon
                    if (this.tempPolyline) {
                        mymap.removeLayer(this.tempPolyline);
                        annotations = annotations.filter(function(annotation) { return annotation !== this.tempPolyline; });
                        this.tempPolyline = null;
                    } 
                }
            } else {
                alert("Maximum of 10 points reached for a polygon.");
            }
        }
    });


    document.getElementById('completeLine').addEventListener('click', function() {
        if (linePoints.length > 1) {
            L.polyline(linePoints, { color: 'red' }).addTo(mymap);
            saveAnnotation('line', linePoints);
            linePoints = [];
        } else {
            alert("You need at least 2 points to make a line.");
        }
    });

    document.getElementById('completePolygon').addEventListener('click', function() {
        if (polyPoints.length > 2) {
            L.polygon(polyPoints, { color: 'blue' }).addTo(mymap);
            saveAnnotation('polygon', polyPoints);
            polyPoints = [];
            if (this.tempPolyline) {
                mymap.removeLayer(this.tempPolyline);
            }
            this.tempPolyline = null;
        } else {
            alert("You need at least 3 points to make a polygon.");
        }
    });

    function isPointCloseToFirst(points, newPoint) {
        if (points.length > 0) {
            var firstPoint = mymap.latLngToLayerPoint(L.latLng(points[0]));
            var newLayerPoint = mymap.latLngToLayerPoint(L.latLng(newPoint));
            var distance = firstPoint.distanceTo(newLayerPoint);
            return distance <= SNAP_DISTANCE;
        }
        return false;
    }    

    function saveAnnotation(type, points) {
        // Implement AJAX call here to send the points to your Django backend
    }
    
</script>

{% endblock content %}