{% load static %}
{% extends 'base.html' %}

{% block content %}

<head>
    <title>Interactive Map</title>
    <!-- Include LeafletJS CSS from a CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<!-- create a div element that I can use to embed a map using openmaptiles -->
<div id='fresno_map' style='width: 100%; height: 800px;'>
    <h1>Sample of Map View</h1>
    <p>Page still in development.</p>
    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-119.0380859375%2C36.98500309285596%2C-118.980712890625%2C37.01907571607497&amp;layer=mapnik&amp;marker=37.00203947386811%2C-119.0093994140625" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=14/37.0020/-119.0094">View Larger Map</a></small>
</div>

<button id="completeLine">Complete Line</button>
<button id="completePolygon">Complete Polygon</button>
<button id="clearAnnotations">Clear Annotations</button>


<div id="annotationControls">
    <input type="radio" id="drawMarker" name="annotationType" value="marker" checked>
    <label for="drawMarker">Marker</label>

    <input type="radio" id="drawLine" name="annotationType" value="line">
    <label for="drawLine">Line</label>

    <input type="radio" id="drawPolygon" name="annotationType" value="polygon">
    <label for="drawPolygon">Polygon</label>
</div>


<!-- Include LeafletJS from a CDN -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>



<!--logic for map and map interactivity -->
<script src = "{% static 'annotations.js' %}"></script>

{% endblock content %}
