<h1>School Analytics Page</h1><br>
<h2>Analysis of XML Green Button Data for a Year (monthly analysis in development)</h2>
<!-- form to upload xml -->
<form method="post" enctype="multipart/form-data" action="{% url 'plots:upload-xml-file' %}">
    {% csrf_token %}
    <input type="file" name="xml_file" accept=".xml">
    <button type="submit">Upload XML Green Button Interval Data</button>
</form>

<p>Select the plot you want to view.</p>
<select id="plot_type">
    <option value="line_plot">Line Plot</option>
    <option value="scatter_plot">Scatter Plot</option>
    <option value = "histogram">Histogram</option>
    <option value="bar_plot">Bar Plot</option>
    <option value="area_plot">Area Plot</option>
    <option value="heatmap">Heatmap</option>
</select>

<div id="plot_area">
    <h2>Plot Area</h2>
    <div id="selected_plot_type">
        <h3>Green Button Data Plot</h3>
        <img src="{% static 'plots/img/some_image.png' %}" alt="selected_plot_type">
    </div>
</div>

<script>
    document.getElementById('plot_type').addEventListener('change', function() {
        var plot_type = this.value;
        
        // Map the plot_type value to the corresponding URL pattern
        var plotUrlMap = {
            "line_plot": "{% url 'line-plot' %}",
            "scatter_plot": "{% url 'scatter-plot' %}",
            "histogram": "{% url 'histogram' %}",
            "bar_plot": "{% url 'bar-plot' %}",
            "area_plot": "{% url 'area-plot' %}",
            "heatmap": "{% url 'heatmap' %}",
        };
        
        var imgSrc = plotUrlMap[plot_type]; 
        
        var selected_plot_type = document.getElementById('selected_plot_type');
        var img = selected_plot_type.querySelector('img') || document.createElement('img');
        img.src = imgSrc;
        img.alt = plot_type;
        
        if (!selected_plot_type.querySelector('img')) {
            selected_plot_type.innerHTML = '';
            selected_plot_type.appendChild(img);
        }
    });  
</script>
